name: Build Djoudinis Snake Challenge APK

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew || true

    # Da wir momentan den Wrapper nicht mit im Repo haben, generieren wir ihn on the fly
    - name: Setup Gradle Wrapper
      uses: gradle/gradle-build-action@v2
      with:
        gradle-version: 8.5

    - name: Build Debug APK
      run: gradle assembleDebug
      
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: Djoudinis-Snake-Challenge-APK
        path: app/build/outputs/apk/debug/app-debug.apk
